<!-- purchase-form.component.html -->

<div class="container mt-4">
    <h2>Ingreso de Factura</h2>

     <!-- Búsqueda de proveedor por NIT -->
    <div class="mb-3">
    <label for="nitInput" class="form-label">Buscar Proveedor por NIT</label>
    <input type="text" class="form-control" id="nitInput" [(ngModel)]="name" (blur)="searchSupplierByName()">
    </div>

    <div *ngIf="selectedSupplier">
        <p><strong>Proveedor:</strong> {{ selectedSupplier.name }}</p>
      </div>
  
  
  
    <!-- Lista de productos -->
    <form (ngSubmit)="addProductToInvoice()">
      <div class="mb-3">
        <label for="barcodeInput" class="form-label">Escanear Código de Barra</label>
        <input type="text" class="form-control" id="barcodeInput" [(ngModel)]="barcode" name="barcode" (blur)="fetchProductDetails()">
      </div>
  
      <div *ngIf="productDetails">
        <p><strong>Producto:</strong> {{ productDetails.name }}</p>
        <p><strong>Stock:</strong> {{ productDetails.stock }}</p>
        <p><strong>Precio:</strong> {{ productDetails.buy_price | currency }}</p>
        <p><strong>Impuestos:</strong> {{ productDetails.taxes_code }}%</p>
  
        <!-- Ingreso de cantidad -->
        <div class="mb-3">
          <label for="quantityInput" class="form-label">Cantidad</label>
          <input type="number" class="form-control" id="quantityInput" [(ngModel)]="quantity" (input)="calculateTotal()" name="quantity">
        </div>
  
        <div class="mb-3">
          <label for="totalInput" class="form-label">Total</label>
          <input type="text" class="form-control" id="totalInput" [value]="total" readonly>
        </div>
  
        <button type="submit" class="btn btn-primary">Agregar Producto</button>
      </div>
    </form>
  
    <!-- Tabla de productos agregados -->
    <h3 class="mt-4">Productos Agregados</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of invoiceItems">
          <td>{{ item.productName }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.total | currency }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Botón para finalizar compra -->
    <button class="btn btn-success mt-4" (click)="finalizePurchase()">Finalizar Compra</button>
  </div>
